# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# PyCharm
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Mac/Linux
.DS_Store

# Others
*.egg-info/
*.egg
dist/
build/
